html {
  height: 100%;
  width: 100%;
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Python Themed Background */
body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url('https://www.shutterstock.com/image-vector/development-vector-icon-600nw-743169709.jpg'); /* Replace with your own Python background image */
    background-size: contain; /* Changed from cover to contain */
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%); /* Center the image */
    opacity: 0.1; /* Subtle effect */
    z-index: -1;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #306998; /* Python blue */
    padding: 10px 0;
    color: #fff;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace; /* Pythonic font style */
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffde57; /* Python yellow */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffd43b; /* Lighter yellow on hover */
}

.hero {
    background-color: #306998; /* Python blue */
    color: #fff;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.project-details {
    margin-top: 30px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffd43b; /* Python yellow underline */
    padding-bottom: 5px;
    color: #306998; /* Python blue */
}

.project-links li {
    margin: 10px 0;
}

.project-links li a {
    color: #306998; /* Python blue */
    text-decoration: none;
    font-weight: bold;
    transition: text-decoration 0.3s;
}

.project-links li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #306998; /* Python blue */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
